.button {
  margin: 0;
  padding: 0;
  padding: 12px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  text-align: center;
  vertical-align: middle;
  transition: .3s color, .3s background-color, .3s border-color;
  text-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0 2px 4px 0 rgba(62, 80, 104, 0.32);
  color: #ffffff;
  background-color: #5da3c7;
  font-size: 20px;
  line-height: auto;
}
.button:hover {
  opacity: 0.75;
}

/* sizes */
.button.large {
  font-size: 24px;
}
.button.huge {
  font-size: 28px;
}

/* colors */
.button.dark-red {
  background: #c64e4e;
  color: #ffffff;
}
